---
interface Props {
  title: string;
  school: string;
  logoUrl: string;
  displayDate: string;
  description: string;
}

const { title, school, logoUrl, displayDate, description } = Astro.props;
---

<div class="border-border bg-primary-foreground rounded-2xl border p-4">
  <div class="flex flex-col gap-4">
    <div class="flex flex-row items-center gap-4">
      <img class="size-20 touch-manipulation rounded-xl" src={logoUrl} />
      <div class="flex flex-col gap-0.5">
        <p class="text-base font-semibold">{title}</p>
        <p class="text-base">{school}</p>
        <p class="text-muted-foreground text-sm">
          {displayDate}
        </p>
      </div>
    </div>
    <p class="text-muted-foreground text-balance text-sm">
      {description}
    </p>
  </div>
</div>
