---
import { Image } from "astro:assets";
import { type CollectionEntry, getEntry, getEntries } from "astro:content";
import TechnologyBadge from "./TechnologyBadge.astro";

type Props = {
  experience: CollectionEntry<"experience">;
};

const { experience } = Astro.props;
const { data: company } = await getEntry(
  "companies",
  experience.data.company.id,
);
const technologies = experience.data.technologies
  ? await getEntries(experience.data.technologies)
  : [];
---

<div class="rounded-2xl border border-border bg-primary-foreground p-4">
  <div class="flex flex-col gap-4">
    <div class="flex flex-row items-center gap-4">
      <Image
        class="size-20 touch-manipulation rounded-xl"
        src={company.logo}
        alt={company.name}
      />
      <div class="flex flex-col gap-0.5">
        <p class="text-base font-semibold">{experience.data.title}</p>
        <p class="text-base text-primary/90">{company.name}</p>
        <p class="text-sm text-muted-foreground">
          {experience.data.displayDate}
        </p>
      </div>
    </div>
    <p class="text-balance text-sm text-muted-foreground">{experience.body}</p>
    {
      technologies.length > 0 && (
        <div class="flex flex-row flex-wrap gap-2">
          {technologies.map((technology) => (
            <TechnologyBadge technology={technology} />
          ))}
        </div>
      )
    }
  </div>
</div>
