---
interface Props {
  title: string;
  type: string;
  logoUrl: string;
  url: string;
}

const { title, type, logoUrl, url } = Astro.props;
---

<div class="border-border bg-primary-foreground rounded-2xl border p-4">
  <div class="flex flex-col gap-4">
    <div class="flex flex-row items-center gap-4">
      <img class="size-20 touch-manipulation rounded-xl" src={logoUrl} />
      <div class="flex flex-col gap-0.5">
        <p class="font-semibold">{title}</p>
        <a class="text-blue-500" href={url}>{url.substring(8)}</a>
        <p class="text-muted-foreground text-sm">{type}</p>
      </div>
    </div>
    <p class="text-muted-foreground text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis atque
      quia omnis consectetur, voluptas praesentium veniam blanditiis ratione
      asperiores accusantium laborum odit commodi quis deserunt incidunt et
      dolor iure ut! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Alias quia, doloribus ut beatae perspiciatis voluptatibus.
    </p>
  </div>
</div>
