---
import { getCollection } from "astro:content";

import EducationCard from "@components/EducationCard.astro";
import ExperienceCard from "@components/ExperienceCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Section from "@components/Section.astro";
import SkillsSection from "@components/SkillsSection.astro";
import AboutSection from "@components/AboutSection.astro";

const aboutCollection = await getCollection("about");
const experienceCollection = await getCollection("experience");
const educationCollection = await getCollection("education");
const projectsCollection = await getCollection("projects");
const skillsCollection = await getCollection("skills");
---

<main class="flex flex-grow flex-col gap-16 px-4 pb-32 pt-8 lg:px-0">
  {
    aboutCollection.map((about) => (
      <div class="w-full">
        <div class="flex w-full flex-col justify-between gap-4 lg:flex-row">
          <p class="text-lg font-semibold">{about.data.title}</p>
          <div class="flex w-full flex-col lg:max-w-2xl">
            <AboutSection about={about} />
          </div>
        </div>
      </div>
    ))
  }

  <Section title="Experience">
    {
      experienceCollection
        .sort((a, b) => a.data.sort - b.data.sort)
        .map((experience) => <ExperienceCard experience={experience} />)
    }
  </Section>

  <Section title="Education">
    {
      educationCollection
        .sort((a, b) => a.data.sort - b.data.sort)
        .map((education) => <EducationCard education={education} />)
    }
  </Section>

  <Section title="Projects">
    {
      projectsCollection
        .sort((a, b) => a.data.sort - b.data.sort)
        .map((project) => <ProjectCard project={project} />)
    }
  </Section>

  <Section title="Skills">
    <div class="flex flex-col gap-8">
      {
        skillsCollection
          .sort((a, b) => a.data.sort - b.data.sort)
          .map((skill) => <SkillsSection skill={skill} />)
      }
    </div>
  </Section>
</main>
