---
import { getCollection } from "astro:content";

import EducationCard from "@components/EducationCard.astro";
import ExperienceCard from "@components/ExperienceCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Section from "@components/Section.astro";

const aboutCollection = await getCollection("about");
const experienceCollection = await getCollection("experience");
const educationCollection = await getCollection("education");
const projectsCollection = await getCollection("projects");
---

<main class="flex flex-grow flex-col gap-16 px-4 pb-16 pt-8 lg:px-0">
  {
    aboutCollection.map((about) => (
      <Section title={about.data.title}>
        <p class="text-balance text-sm text-muted-foreground">{about.body}</p>
      </Section>
    ))
  }

  <Section title="Experience">
    {
      experienceCollection
        .sort((a, b) => a.data.sort - b.data.sort)
        .map((experience) => <ExperienceCard experience={experience} />)
    }
  </Section>

  <Section title="Education">
    {
      educationCollection
        .sort((a, b) => a.data.sort - b.data.sort)
        .map((education) => <EducationCard education={education} />)
    }
  </Section>

  <Section title="Projects">
    {
      projectsCollection
        .sort((a, b) => a.data.sort - b.data.sort)
        .map((project) => <ProjectCard project={project} />)
    }
  </Section>
</main>
